@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2><a asp-controller="ProductTypes" asp-action="Index">Product Types</a></h2>
    <h2><a asp-controller="CategoryTypes" asp-action="Index">Category Types</a></h2>
    <h2><a asp-controller="Products" asp-action="Index">Products</a></h2>
    <h2><a asp-controller="ProductInventory" asp-action="Index">Product Inventory</a></h2>
</div>


