@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="border: 1px solid black;">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-4"
         @*style="border: 1px solid black;"*@>
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark text-center" style="font-size: 18px"><small>Product Types</small></li>
            <div id="productTypes"></div>
        </ul>
    </div>
    <div class="col-8" style="border: 1px solid black;">
        hello world
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/Home/GetProductTypes",
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (result) {

                    $.each(result, function (index, value) {
                        var id = value.id;

                        $("#productTypes").append(
                            `<a href="/Product/Index/${id}?pageNumber=1" class="list-group-item list-group-item-action">${value.name}</a>`
                        )
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            })

        });
    </script>
}